<!DOCTYPE html>
<html>
  <head>
    <title>Learn Korean</title>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>